/*media query voor laptop begint bij 1024px*/
@media only screen and (min-width: 1024px){

	/*grotere margin aan de zijkanten anders werd het zo breed/onoverzichtelijk*/
	body{
		margin: 0 8%;
	}	

	/*wat aanpassingen aan de onderdelen zodat ze een beetje staan zoals het hoort*/
	h1{
		font-size: 3vw;
	}

	h2, #knop{
		margin: 10px 0;
	}
	h2{
		margin: 0;
		text-align: left;
		font-size: 2vw;
	}
	#knop{
		margin-bottom: 10px;
		width: 40vw;
		
	}
}