/*media query voor tablet begint bij 750px*/
@media only screen and (min-width: 750px){
	.smallx{
		display: none;
	}

	/*verander naar groter spacex logo*/
	.spacex{
		display: flex;
    	width: 40%;
    	margin: 0px auto 20px auto;
	}

	h1{
		font-size: 3.5vw;
	}

	h2{
		font-size: 2.5vw;
	}

	
	.flex-container{
		flex-direction: row;
	}

	#knop{
		font-size: 2vw;
	}

	#map{
		width: 60%;
		margin: 0 3px;
	}

	#forecastbox{
		width: 37%;
		margin: 0 3px;
		height: 30vh;
	}